doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='icon', href='/public/if.ico')
body 
  title HOME
style
      include style.css
h1 Chemistionary

p Restful API to query definitions and examples of chemistry concepts. 
a(href='/basic') BASIC
a(href='/intermediate') INTERMEDIATE
a(href='/advanced') ADVANCED

.twirl
    span(style='--i:1')
    img(src='https://i.ibb.co/HdJ8pJj/Group-55-1.png')

p Provisioned by IFTIIN
    
